@model IEnumerable<SalesManagement.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h1>Invoice List Of Customer</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.InvoiceDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceDate)
            </td>
            
        </tr>
}
    </tbody>
</table>
